name: Continuous Integration

on:
  push:
    branches:
      - master
      - main
      - v*
  pull_request:
    branches:
      - master
      - main
      - v*

jobs:

  test:
    name: Test
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      CGO_ENABLED: "0"
      GOLANGCI_LINT_VERSION: "v2.4.0"
    steps:

      - name: Check out code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          # Use cache from golangci-lint
          cache: false

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          package_json_file: 'dashboard/package.json'

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: '.node-version'
          cache: 'pnpm'
          cache-dependency-path: 'dashboard/pnpm-lock.yaml'

      - name: Build dashboard
        working-directory: dashboard
        run: |
          pnpm install
          pnpm build

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: ${{ env.GOLANGCI_LINT_VERSION }}

      - name: Test
        run: |
          make test
